/* WatchComponent.css */

.watch-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.watch {
    padding: 0.3em;
    border-radius: 1px solid red;
    font-size: 1em;
    margin-bottom: 10px;
    margin-top: 8px;
    background-color:#efcdda;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-left: 12px;
}

button {
    font-size: 0.8em;
    cursor: pointer;
    
}