/* CountryDropdown.css */

.dropdown {
   display: flex;
   align-items: center;
}

.country-dropdown{
    border-radius: 8px;
    padding: 0.6em;
    font-size: 0.9em;
    font-weight: 500;
    font-family: inherit;
}

.dropdown button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 150px;
    overflow-y: auto;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}