.home-page{
    padding: 12px;
}
.card-list{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.user-card{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #ada2a2;
    background-color: #f4e7eb;
    box-shadow: 10px 5px 5px rgb(243, 231, 231);
    padding: 12px;
    gap :10;
}